.container {
 background-color: #0076ce;
 height: 3.75rem;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
}

.container-two {
    width: 55vw;
    display: flex;
    justify-content: space-between;
}

.inputt {
    height: 2rem;
    width: 40vw;
    margin-top: 0.5rem;
    outline: none;
}

.search {
    position: absolute;
    height: 1.9rem;
    width: 8rem;
    background-color: #006bbd;
    z-index: 1;
    margin-left: 38.5rem;
    margin-top: 0.8rem;
    color: white;
    outline: none;
    border: none;
}

.search-icon {
    position: absolute;
    z-index: 1;
    margin-left: 39.3rem;
    margin-top: 1rem;
}

.second-nav {
    background-color: #006bbd ;
    height: 2rem;
    width: 100vw;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 19rem;
    width: 10rem;  
    padding-top: 0.2rem;
}

.home-two {
    display: inline-block;
    display: flex;
    flex-direction: row;
    padding-left: 19rem;
    font-size: 1.2rem;
    justify-content: space-around;
    width: 30rem;
}

.form-control {
    height: 2.5rem;
    width: 70vw;
    outline: none;
    display: flex;
    justify-content: center;
    outline: none;
    border-radius: none;
    margin-left: 19rem;
}





